{% extends 'store/main.html' %}
{% load static %}
{% load filter_add_css_class %}
{% block content %}

    <div class="col-lg-12">
        <div class="box-element">
            {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                <p style="text-align:center;">{{ form.errors }}</p>
            </div>
            {% endif %}

            {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                    <p style="text-align: center;">{{ message }}</p>
                </div>
            {% endfor %}

            <p style="text-align:center">Enter the email from your account bellow: </p>
            <form action="" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-field">
                        {{ field|add_class:"form-control" }}
                        {{ field.error_messages }}
                    </div>
                {% endfor %}

                <div class="text-center" style="margin-top: 20px; margin-bottom: 20px;">
                    <button type="submit" class="btn btn-success bt center-block">Reset</button>
                    <a class="btn btn-primary bt center-block" href="{% url 'login' %}">Back</a>
                </div>
            </form>

        </div>
    </div>

{% endblock %}