{% extends 'store/main.html' %}
{% load static %}
{% block content %}

    <div class="col-lg-12">
        <div class="box-element">

            <p style="text-align:center">
                E-mail was sent, check your email letter box, check spam also if there is no letter from us.
            </p>

                <div class="text-center" style="margin-top: 20px; margin-bottom: 20px;">
                    <a class="btn btn-primary bt center-block" href="{% url 'login' %}">Back</a>
                </div>
            </form>

        </div>
    </div>

{% endblock %}